<h1>Job market analysis</h1>

<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i,m.jobs)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label">
      
      <agm-info-window 
      [isOpen]="m.open"
      [latitude]="m.lat" 
      [longitude]="m.lng">{{content}}</agm-info-window>
    
  </agm-marker>


</agm-map>