<agm-map [latitude]="lat" [longitude]="lng"  [style.height.px]="height">
        <div  *ngFor="let marker of markers; let i=index">
             <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"
             (markerClick)="clickedMarker(i,marker.jobs)" >
             <agm-info-window 
             [isOpen]="marker.open"
             [latitude]="marker.lat" 
             [longitude]="marker.lng" *ngIf="marker.open">{{content}}</agm-info-window>
            </agm-marker>
             
       </div>
      </agm-map>
