

<div class="row backgroundClr heading">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <h1 class="overlay">Job Market Analysis</h1>
      </div>
</div>

<div [hidden]="showMap" class="background" [style.height.px]="height">
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
      <input type="text" class="form-control mainScreen searchMargin"
      placeholder="What kind of job are you looking for?"
        required
        [(ngModel)]="searchField" />
        <span (click)="valueChanged(searchField)" [class.disabled]="!searchField|| searchField.length==0 || !model || model.length==0">
        <fa name="search" class="searchIcon"></fa></span>
        <span *ngIf="showLoader"> <fa name="fas fa-spinner fa-pulse" class="spinner"></fa></span>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row locationMargin">
          <div class="col-md-4"></div>
          <div class="col-md-4">
          <input
        id="typeahead-focus"
        type="text"
        class="form-control mainScreen"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)"
        [editable]="false"
        #instance="ngbTypeahead"
      />
        </div>
        <div class="col-md-4"></div>
      </div>

      <div class="row locationMargin">
        <div class="col-md-5"></div>
        <div class="col-md-4">
        <button class="btn btnWidth" [disabled]="!searchField|| searchField.length==0 || !model || model.length==0" 
        (click)="valueChanged(searchField)">Search</button>
      </div>
      <div class="col-md-4"></div>
    </div>

</div>

<div [hidden]="!showMap">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
<input type="text" class="form-control jobInput"
placeholder="What kind of job are you looking for?"
  required
  [(ngModel)]="searchField" />
  <span (click)="valueChanged(searchField)" [class.disabled]="!searchField|| searchField.length==0 || !model || model.length==0">
  <fa name="search" class="searchIcon"></fa></span>
  <span *ngIf="showLoader"> <fa name="fas fa-spinner fa-pulse" class="spinner"></fa></span>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <input
  id="typeahead-focus"
  type="text"
  class="form-control jobInput"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  (focus)="focus$.next($event.target.value)"
  (click)="click$.next($event.target.value)"
  [editable]="false"
  #instance="ngbTypeahead"
/>
  </div>
  </div>
<div class="row displayAlert" *ngIf="showAlert">
  <app-alerts></app-alerts>
</div>
<div class="row display" [hidden]="!showSideNav" >
<div class="col-md-4 padding0 backgroundClr" [hidden]="!showSideNav" > 
  <app-side-nav></app-side-nav>
</div>
<div class="col-md-8 padding0">
<app-map (listToDisplay)='displayList($event)'></app-map>
</div>
</div>
<div class="row display" [hidden]="showSideNav">
  <div class="col-md-12 padding0">
    <app-map (listToDisplay)='displayList($event)'></app-map>
    </div>
</div>
</div>
<div class="row backgroundClr footer">
  <app-footer></app-footer>
</div>

