agm-map {
    height: 1000px;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
  .jobInput{
    width: 300px;
    margin-bottom: 1px;
    display: initial !important;
  }
  .searchIcon{
    margin-left: 5px;
  }
  .padding0{
    padding: 0 !important;
  }
  .backgroundClr{
    background-color: aliceblue;
  }
  .heading{
border: 1px solid #555;
  }
  .footer{
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: aliceblue;
    margin-bottom: 0px;
    text-align: center;
  }
  .disabled {
    pointer-events: none; 
    display: none; 
  }
  .displayAlert{
    display: inline;
  }
  .spinner{
    margin-left: 8px;
  }

  .first{
    margin-left: 117px;
  }
  .searchMargin{
    margin-top: 85px;
  }
  .locationMargin{
    margin-top: 40px;
  }
  .background{
    background-image:url(src/assets/images/sample-2.jpg);
  }