

<div class="row backgroundClr heading">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Job market analysis</h1>
      </div>
</div>
<div class="row backgroundClr">
  <div class="col-md-4"></div>
  <div class="col-md-4">
<input type="text" class="jobInput"
placeholder="What kind of job are you looking for?"
  required
  [(ngModel)]="searchField" />
  <span (click)="valueChanged(searchField)">
  <fa name="search" class="searchIcon"></fa></span>
  </div>
  <div class="col-md-4"></div>
  </div>

<div class="row display">
<div class="col-md-3 padding0 backgroundClr"> 
  <app-side-nav></app-side-nav>
</div>
<div class="col-md-9 padding0">
<app-map (listToDisplay)='displayList($event)'></app-map>
</div>
</div>
<div class="row backgroundClr footer">
  <app-footer></app-footer>
</div>

